<h3>Select Your Character</h3>
<div class="row">
    <div class="col-12">
        <!-- Button trigger modal -->
        <button type="button" id="newCharacter" class="btn btn-primary" data-toggle="modal"
            data-target="#characterCreator">Create New Character</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#each character}}
        <div class="row">
            <div class="card">
                <h4 class="card-title">{{name}}</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            //image
                        </div>
                        <div class="col-8">
                            <h3>Skills</h3>
                            <ul>
                                <li>{{skill_R}}</li>
                                <li>{{skill_K}}</li>
                                <li>{{skill_G}}</li>
                                <li>{{skill_S}}</li>
                                <li>{{skill_D}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="characterCreator" tabindex="-1" role="dialog" aria-labelledby="characterCreatorLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="characterCreatorLabel">Character Creator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="character-name">
                            <h5>Name</h5>
                        </label>
                        <input type="text" class="form-control" id="character-name">
                    </div>
                    <h5>Skills</h5>
                    <div class="form-group">
                        <label for="skill_R">Roasts</label>
                        <input type="text" class="form-control" id="skill_R">
                    </div>
                    <div class="form-group">
                        <label for="skill_K">Knife Skills</label>
                        <input type="text" class="form-control" id="skill_R">
                    </div>
                    <div class="form-group">
                        <label for="skill_G">Grilling</label>
                        <input type="text" class="form-control" id="skill_R">
                    </div>
                    <div class="form-group">
                        <label for="skill_S">Sauces</label>
                        <input type="text" class="form-control" id="skill_R">
                    </div>
                    <div class="form-group">
                        <label for="skill_D">Doughs</label>
                        <input type="text" class="form-control" id="skill_R">
                    </div>
                    <button type="submit" id="createCharacter" class="btn btn-primary">Create Character</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/character-creator.js"></script>